extends layout

block content
  h1= todos
  p Welcome to #{title}
  div(id="message-container")
  form(id="todoForm")
    label(for="input-name") Name:
    input(type="text" id="input-name" name="name" placeholder="Enter your name" required)
    br
    label(for="input-task") Task:
    input(type="text" id="input-task" name="task" placeholder="Enter a new task" required)
    br
    br
    button(type="button" id="submit-data") Add Task
    br
    br
  form(id="searchForm") Search tasks by name
    input(type="text" id="search-name" placeholder="Enter name" required)
    br
    br
    button(type="button" id="search") Search
    div(id="user-display")
    button(type="button" id="delete-user" style="display:none") Delete


  script.
    document.getElementById('submit-data').addEventListener('click', function() {
      const name = document.getElementById('input-name').value;
      const task = document.getElementById('input-task').value;

      // Sends data to the server using fetch
      fetch('/todo', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ name, task }),
      })
      .then(response => response.text())
      .then(message => {
        // Displays the response message
        const msgContainer = document.getElementById('message-container')
        msgContainer.textContent = message.toString()
        
      })
      .catch(error => console.error('Error:', error));
    });

  script.
    document.getElementById('search').addEventListener('click', function() {
      const searchName = document.getElementById('search-name').value
      const deleteButton = document.getElementById('delete-user')

      fetch(`/user/${searchName}`)
      .then(response => response.json())
      .then(user => {
        console.log(user)
        const userDisplay = document.getElementById('user-display')
        userDisplay.innerHTML = ''

        if (user.name) {
          const userName = document.createElement('p');
          userName.textContent = `${user.name}`;
          userDisplay.appendChild(userName);

          const userTodos = document.createElement('ul');
          // Loops through elements - creating a new list element for each
          user.todos.forEach(todo => {
            const todoItem = document.createElement('li');
            todoItem.textContent = todo;
            userTodos.appendChild(todoItem);
          });
          userDisplay.appendChild(userTodos);
          deleteButton.style.display = "inline"

        } else {
          deleteButton.style.display = "none"
          const notFoundMessage = document.createElement('p');
          notFoundMessage.textContent = 'User not found';
          userDisplay.appendChild(notFoundMessage);
        }
      })
      .catch(error => console.error('Error:', error));
    })

  script.
    document.getElementById('delete-user').addEventListener('click', async function() {
      const user = document.getElementById('user-display')
      const username = user.firstChild.textContent
      const deleteButton = document.getElementById('delete-user')

      await fetch(`/user/${username}`, {
        method: 'DELETE'
      })
      .then(response => response.json())
      .then(data => {
        const msgContainer = document.getElementById('message-container')
        if (data.users) {
          msgContainer.textContent = data.message
          const userDisplay = document.getElementById('user-display')
          userDisplay.innerHTML = ''

        } else {
          msgContainer.textContent = data.error
        }
      })
      .catch(error => {
        console.error('Error:', error);
      })
      deleteButton.style.display = "none"
      }
      );